<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your project's server broke down</title>
  </head>
  <body>
    <p>
      Hello! We have noticed that your <%= projectName %> project's server has
      broken down
    </p>
    <p>Please check your server's info</p>
  </body>
</html>
